In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="erv",
  passwd="qwerv0v4ik",
  db='randreturn'
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000117A2201240>

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute('show tables;')

In [5]:
cur.fetchall()

[('customers',)]

In [19]:
next(cur)

StopIteration:

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({'A':[1,2,3],'B':[3,4,5]},index=list('abc'))

In [24]:
df.to_sql(name='test',con=mydb,if_exists='replace')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement